project/
target/
.idea/
*.deb
*.jar
.idea
.build_num
build
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.project
.strong-pm
*.deb
*.swp
*.bak
*.dylib
*.swn
*~
*#
/target
/project/project
/project/target
*.swm
